@import url('https://fonts.googleapis.com/css2?family=Outfit');

body {
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main, footer {
	margin-top: auto;
}

footer {
	padding-bottom: 5px;
}

h1, p {
	width: 265px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	margin-bottom: 28px;
}

h1 {
	font-size: 22px;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
}

.card {
	background-color: hsl(0, 0%, 100%);
	width: 288px;
	padding: 16px;
	border-radius: 16px;
}

#qr-code {
	width: 288px;
	height: 288px;
	border-radius: 16px;
}

.attribution {
	font-size: 11px; 
}

.attribution a { 
	color: hsl(218, 44%, 22%); 
}
